<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> --}}
  <link rel="stylesheet" href="/style.css">

  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css"/>
  <script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
  <title>Game</title>
  
</head>
<body>
  {{{body}}}
</body>
</html>


